.outermost-cotainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.inner-container {
  width: fit-content !important ;
  border: 1px solid black !important ;
  margin: 20px;
  padding: 40px 20px;
  border-radius: 30px;
  background: lightgrey;
}
.btn-game-details {
    display: flex;
    justify-content: center;
}

.bg-blue {
    background: lightblue;
} 
.run-button {
    margin: 5px;
}
.BatsmanDiv {
    border: 2px solid black;
    display: table;
    margin: 0 auto;
    margin-top: 16px;
}

.CurrentBatsman {
  background-color: black;
  color: white;
  width: 170px;
  height: 100%;
  text-align: center;
  font-size: 18px;
}

.NonStrikeBatsman {
  background-color: white;
  color: black;
  width: 170px;
  height: 100%;
  text-align: center;
  font-size: 18px;
}

.BatsmanDiv div {
  display: table-cell;
}